<% if @error_message %>
<div class="error">
	<p><%= @error_message %></p>
</div>
<% end %>
<div class='map'>
	<% @hex.each_with_index do |row,index_row| %> 
	<div class="hex-row<%if(index_row.odd?) %> even<%end%>">
		<%	row.each_with_index do |tile,index_tile| %>
			<%if tile.is_a?(Hash) and @exploration[index_row][index_tile] == "yes"%>
			<div class="hex visible <%= tile["type"].to_s %>" row=<%=index_row.to_s%> tile=<%=index_tile.to_s%>>
				<div class="text"><%=index_row.to_s+"-"+index_tile.to_s%><br><%= tile["name"].to_s %></div>
			<%else%>
			<div class="hex <%= @exploration[index_row][index_tile] == 0 ? "invisible" : "visible"%><%= @exploration[index_row][index_tile] == "no" ? " notexplored" : ""%>" row=<%=index_row.to_s%> tile=<%=index_tile.to_s%><%if(@exploration[index_row][index_tile]!=0)%><%end%>>
				<div class="text"><%=index_row.to_s+"-"+index_tile.to_s%></div>
			<%end%>
				<div class="cover top"></div>
				<div class="cover middle"></div>
				<div class="cover bottom"></div>
			</div>
		<%end%>
	</div>
	<%end%>
</div>